<div class="footer-container">
	<div class="row">
		<div class="col-2">
			<div class="input-group input-group-sm mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="inputGroup-sizing-sm">From</span>
			  </div>
			  	  <select class="custom-select" id="inputGroupSelect01">
				    <option selected>Choose...</option>
				    <option value="1">date 1</option>
				    <option value="2">date 2</option>
				    <option value="3">date 3</option>
				  </select>
			</div>
		</div>
		<div class="col-8">
			<div class="graph-wrapper">
				<background-graph></background-graph>
			</div>		
		</div>
		<div class="col-2">
			<div class="input-group input-group-sm mb-3">
			  <div class="input-group-prepend">
			  	  <select class="custom-select" id="inputGroupSelect01">
				    <option selected>Choose...</option>
				    <option value="1">date 1</option>
				    <option value="2">date 2</option>
				    <option value="3">date 3</option>
				  </select>
			    <span class="input-group-text" id="inputGroup-sizing-sm">To</span>
			  </div>
			</div>	
		</div>
	</div>	
</div>