<div class="row">
    <div class="col-12">
        <div class="big-graph">
            <capacity-offload *ngIf="capacityOffloadData && maxCdn && maxP2p" 
            				  class="big-graph" 
            				  [(p2pData)]="p2pData" 
            				  [(p2pLabels)]="p2pLabels" 
            				  [(cdnData)]="cdnData" 
            				  [(cdnLabels)]="cdnLabels" 
            				  [(maxCdn)]="maxCdn" 
            				  [(maxP2p)]="maxP2p">
            </capacity-offload>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="big-graph">
            <concurrent-viewers *ngIf="viewersData && viewersLabels" 
            					class="big-graph" 
            					[viewersData]="viewersData" 
            					[viewersLabels]="viewersLabels">
            </concurrent-viewers>
        </div>
    </div>
</div>
<footer *ngIf="viewersData && viewersLabels && capacityOffloadData && maxCdn && maxP2p" 
		[(p2pData)]="p2pData" 
		[(p2pLabels)]="p2pLabels" 
		[(cdnData)]="cdnData" 
		[(cdnLabels)]="cdnLabels" 
		[(maxCdn)]="maxCdn" 
		[(maxP2p)]="maxP2p" 
		[(viewersData)]="viewersData"  
		[(viewersLabels)]="viewersLabels">
</footer>